<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="standoff" params="standoff_name">
  <link name="${standoff_name}">
      <visual>
    <origin rpy="0 0 1.5707" xyz="0 0 0.110" /> 
      <geometry>
        <cylinder radius="${rod_radius}" length="${rod_height}"/>
      </geometry>
    </visual>
    
    <collision>
    <origin rpy="0 0 1.5707" xyz="0 0 0.110" /> 
      <geometry>
        <cylinder radius="${rod_radius}" length="${rod_height}"/>
      </geometry>
    </collision>
    
      <inertial>
      <mass value="${rod_mass}"/>
    <origin rpy="0 0 1.5707" xyz="0 0 0.110" /> 
      <inertia ixx="0.00040583333333333335" ixy="0" ixz="0" iyy="0.00040583333333333335" iyz="0" izz="0.000005"/>
    </inertial>
  </link>

  </xacro:macro>



</robot>   